<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Battles</title>
</head>
<body>
  <h1><%= @p1name %> vs <%= @p2name %>!</h1>
  <section>
    <h2>Player 2 HP: <%= @p2hp %></h2>
  </section>
  <form action="/action" method='post'>  
    <button type="submit" name='action' value="Attack made!">Attack</button>
  </form>
  <% if !@result.nil? %> 
    <p><%= @result %></p>
  <% end %>
</body>
</html>
